.Section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Section + .Section {
  border-top: 1px solid $divider;
}

.Section.light {
  background-color: $backgroundColor;
}

.Section.tint {
  background-color: $tintColor;
}

.Section.dark {
  background-color: $dark;
}

.SmallSection {
  width: 100%;
  margin-top: -80px;
  padding-top: 0px;
  padding-bottom: 50px;
  border-bottom: 1px solid $divider;
}

.Section .content {
  max-width: 1100px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 960px) {
  .Section .content {
    width: 80%;
  }
}
