.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/node_modules
website/i18n/*

*.binlog

# This is not a mono repo, ignore files from people accidentally running yarn in the wrong places
/yarn.lock
/samples/yarn.lock
/samples-old/yarn.lock