---
---

@import "{{ site.theme }}";

.row {
    display: flex;
    flex-direction: row;
}
  .twocolumn {
    flex: 50%;
  }
  .threecolumn {
    flex: 33%;
    padding-left: 50px;
  }


  div {margin: 4px; padding: 4px;}

  .page-header { 
      padding-top: 150px; 
      padding-bottom: 4px;
      margin: 0px; 
      color: #61dafb; 
      text-align: center; 
      background-color: #282c34; 
      background-image: none;
      display: block;
    }

    /* Add a black background color to the top navigation */
.topnav {
    display: flex;
    background-color: #20232a;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: 0px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f7f7f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: #61dafb;
  }
  

  /* The sidebar menu */
.sidenav {
    // height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px;
    // flex: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    // z-index: 1; /* Stay on top */
    left: 0;
    top: 100px;
    // overflow-x: hidden; /* Disable horizontal scroll */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px;
    text-decoration: none;
    color: #1a1a1a;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #6d6d6d;
  }
  
  /* Style page content */
  .page-content {
    flex: auto; 
  }

  .btn { display: inline-block; margin-bottom: 1rem; color: #1a1a1a; background-color: #61dafb; transition: color 0.2s, background-color 0.2s; }
  .btn:hover { color: #1a1a1a; text-decoration: none; background-color: #ececec;  }
  .btn + .btn { margin-left: 1rem; }
  @media screen and (min-width: 64em) { .btn { padding: 0.75rem 1rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) { .btn { padding: 0.6rem 0.9rem; font-size: 0.9rem; } }
  @media screen and (max-width: 42em) { .btn { display: block; width: 100%; padding: 0.75rem; font-size: 0.9rem; }
    .btn + .btn { margin-top: 1rem; margin-left: 0; } }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav a {font-size: 12px;}
  }

  .blog-container {
      padding: 10px;
  }


  .twocolumn h1, .twocolumn h2, .blog-container h1, .blog-container h2, .blog-container h3, .blog-container h5, .blog-container h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: normal; color: #6d6d6d; }
  .blog-container h4 { margin: 2px; color: #6d6d6d; opacity: 0.7; }
  .site-footer { background-color: #282c34; color: #f7f7f7; padding:20px; }
  .main-content h2 { margin-top: 2rem; margin-bottom: 1rem; font-weight: bold; color: #6d6d6d; }