name: CI (Upgrade)

on:
  schedule:
    - cron: '0 15 * * 2' # Tuesday 3PM UTC (8AM PST)
  workflow_dispatch:

defaults:
  run:
    shell: pwsh

jobs:
  setupcheck:
    name: Setup Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

  call-upgradesample-calculator:
    name: Upgrade Calculator
    needs: setupcheck
    strategy:
      fail-fast: false
      matrix:
        sampleName: ['Calculator\cppwinrt', 'Calculator\csharp', 'Calculator\fabric']
        configuration: ['Debug', 'Release']
        platform: ['x86', 'x64', 'ARM64']
        reactNativeWindowsVersion: [latest, preview, canary]
    uses: ./.github/workflows/template-upgradesample.yml
    with:
      sampleName:  ${{ matrix.sampleName }}
      reactNativeWindowsVersion: ${{ matrix.reactNativeWindowsVersion }}
      configuration: ${{ matrix.configuration }}
      platform: ${{ matrix.platform }}
      runInitWindows: true

  call-upgradesample-native-module-sample:
    name: Upgrade Native Module Sample
    needs: setupcheck
    strategy:
      fail-fast: false
      matrix:
        sampleName: ['NativeModuleSample\cpp-lib', 'NativeModuleSample\cppwinrt', 'NativeModuleSample\csharp']
        configuration: ['Debug', 'Release']
        platform: ['x86', 'x64', 'ARM64']
        reactNativeWindowsVersion: [latest, preview, canary]
    uses: ./.github/workflows/template-upgradesample.yml
    with:
      sampleName:  ${{ matrix.sampleName }}
      reactNativeWindowsVersion: ${{ matrix.reactNativeWindowsVersion }}
      configuration: ${{ matrix.configuration }}
      platform: ${{ matrix.platform }}
      extraRunWindowsArgs: --no-autolink --no-deploy
      runCodeGenCheck: ${{ endsWith(matrix.sampleName, 'cpp-lib') }}
